{% extends 'base_with_bootstrap.html' %}
{% load bootstrap5 %}

<title>{% block bootstrap5_title %}Home{% endblock %}</title>

{% block title %}
    Welcome to the Airlines List Page!
        <!-- Menu buttons -->
    <div class="d-flex justify-content-end">
        <a href="{% url 'airlines:list-view' %}" class="btn btn-dark me-2">Airlines List</a>
        <a href="{% url 'airlines:airport-list-view' %}" class="btn btn-success">Airports List</a>
    </div>
{% endblock %}

{% block content %}
    <!-- Text -->
    {% include 'snippets/airline_info1.html' %}
{% endblock %}
