{% extends 'base_with_bootstrap.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}Create Airport{% endblock %}

{% block title %}
    Add new airport to the list
    <!-- Menu buttons -->
    <div class="d-flex justify-content-end">
        <a href="{% url 'home' %}" class="btn btn-dark me-2">Home Page</a>
        <a href="{% url 'airlines:airport-list-view' %}" class="btn btn-primary me-2">Airports List</a>
    </div>
<hr>
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
            {% bootstrap_form form %}
        <br><br>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}